@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?31816464');
  src: url('../font/fontello.eot?31816464#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?31816464') format('woff'),
       url('../font/fontello.ttf?31816464') format('truetype'),
       url('../font/fontello.svg?31816464#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Entypo';
  src: url('../../font/entypo.eot?31816464');
  src: url('../../font/entypo.eot?31816464#iefix') format('embedded-opentype'),
       url('../../font/entypo.woff?31816464') format('woff'),
       url('../../font/entypo.ttf?31816464') format('truetype'),
       url('../../font/entypo.svg?31816464#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'EntypoSocial';
    src: url('../../font/entypo-social.eot');
    src: url('../../font/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('../../font/entypo-social.woff') format('woff'),
         url('../../font/entypo-social.ttf') format('truetype'),
         url('../../font/entypo-social.svg#EntypoSocial') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?31816464#fontello') format('svg');
  }
}
*/
 
 [class^="font-icon-"]:before, [class*=" font-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.font-icon-note:before { content: '\e800'; } /* '' */
.font-icon-logo-db:before { content: '\e91b'; } /* '' */
.font-icon-music:before { content: '\e802'; } /* '' */
.font-icon-search:before { content: '\e803'; } /* '' */
.font-icon-flashlight:before { content: '\e804'; } /* '' */
.font-icon-mail:before { content: '\e805'; } /* '' */
.font-icon-heart:before { content: '\e806'; } /* '' */
.font-icon-heart-empty:before { content: '\e807'; } /* '' */
.font-icon-star:before { content: '\e808'; } /* '' */
.font-icon-star-empty:before { content: '\e809'; } /* '' */
.font-icon-user:before { content: '\e80a'; } /* '' */
.font-icon-users:before { content: '\e80b'; } /* '' */
.font-icon-user-add:before { content: '\e80c'; } /* '' */
.font-icon-video:before { content: '\e80d'; } /* '' */
.font-icon-picture:before { content: '\e80e'; } /* '' */
.font-icon-camera:before { content: '\e80f'; } /* '' */
.font-icon-layout:before { content: '\e810'; } /* '' */
.font-icon-menu:before { content: '\e811'; } /* '' */
.font-icon-check:before { content: '\e812'; } /* '' */
.font-icon-cancel:before { content: '\e813'; } /* '' */
.font-icon-cancel-circled:before { content: '\e814'; } /* '' */
.font-icon-cancel-squared:before { content: '\e815'; } /* '' */
.font-icon-plus:before { content: '\e816'; } /* '' */
.font-icon-plus-circled:before { content: '\e817'; } /* '' */
.font-icon-plus-squared:before { content: '\e818'; } /* '' */
.font-icon-minus:before { content: '\e819'; } /* '' */
.font-icon-minus-circled:before { content: '\e81a'; } /* '' */
.font-icon-minus-squared:before { content: '\e81b'; } /* '' */
.font-icon-help:before { content: '\e81c'; } /* '' */
.font-icon-help-circled:before { content: '\e81d'; } /* '' */
.font-icon-info:before { content: '\e81e'; } /* '' */
.font-icon-info-circled:before { content: '\e81f'; } /* '' */
.font-icon-back:before { content: '\e820'; } /* '' */
.font-icon-home:before { content: '\e821'; } /* '' */
.font-icon-link:before { content: '\e822'; } /* '' */
.font-icon-attach:before { content: '\e823'; } /* '' */
.font-icon-lock:before { content: '\e824'; } /* '' */
.font-icon-lock-open:before { content: '\e825'; } /* '' */
.font-icon-eye:before { content: '\e826'; } /* '' */
.font-icon-tag:before { content: '\e827'; } /* '' */
.font-icon-bookmark:before { content: '\e828'; } /* '' */
.font-icon-bookmarks:before { content: '\e829'; } /* '' */
.font-icon-flag:before { content: '\e82a'; } /* '' */
.font-icon-thumbs-up:before { content: '\e82b'; } /* '' */
.font-icon-thumbs-down:before { content: '\e82c'; } /* '' */
.font-icon-download:before { content: '\e82d'; } /* '' */
.font-icon-upload:before { content: '\e82e'; } /* '' */
.font-icon-upload-cloud:before { content: '\e82f'; } /* '' */
.font-icon-reply:before { content: '\e830'; } /* '' */
.font-icon-reply-all:before { content: '\e831'; } /* '' */
.font-icon-forward:before { content: '\e832'; } /* '' */
.font-icon-quote:before { content: '\e833'; } /* '' */
.font-icon-code:before { content: '\e834'; } /* '' */
.font-icon-export:before { content: '\e835'; } /* '' */
.font-icon-pencil:before { content: '\e836'; } /* '' */
.font-icon-feather:before { content: '\e837'; } /* '' */
.font-icon-print:before { content: '\e838'; } /* '' */
.font-icon-retweet:before { content: '\e839'; } /* '' */
.font-icon-keyboard:before { content: '\e83a'; } /* '' */
.font-icon-comment:before { content: '\e83b'; } /* '' */
.font-icon-chat:before { content: '\e83c'; } /* '' */
.font-icon-bell:before { content: '\e83d'; } /* '' */
.font-icon-attention:before { content: '\e83e'; } /* '' */
.font-icon-alert:before { content: '\e83f'; } /* '' */
.font-icon-vcard:before { content: '\e840'; } /* '' */
.font-icon-address:before { content: '\e841'; } /* '' */
.font-icon-location:before { content: '\e842'; } /* '' */
.font-icon-map:before { content: '\e843'; } /* '' */
.font-icon-direction:before { content: '\e844'; } /* '' */
.font-icon-compass:before { content: '\e845'; } /* '' */
.font-icon-cup:before { content: '\e846'; } /* '' */
.font-icon-trash:before { content: '\e847'; } /* '' */
.font-icon-doc:before { content: '\e848'; } /* '' */
.font-icon-docs:before { content: '\e849'; } /* '' */
.font-icon-doc-landscape:before { content: '\e84a'; } /* '' */
.font-icon-doc-text:before { content: '\e84b'; } /* '' */
.font-icon-doc-text-inv:before { content: '\e84c'; } /* '' */
.font-icon-newspaper:before { content: '\e84d'; } /* '' */
.font-icon-book-open:before { content: '\e84e'; } /* '' */
.font-icon-book:before { content: '\e84f'; } /* '' */
.font-icon-folder:before { content: '\e850'; } /* '' */
.font-icon-archive:before { content: '\e851'; } /* '' */
.font-icon-box:before { content: '\e852'; } /* '' */
.font-icon-rss:before { content: '\e853'; } /* '' */
.font-icon-phone:before { content: '\e854'; } /* '' */
.font-icon-cog:before { content: '\e855'; } /* '' */
.font-icon-tools:before { content: '\e856'; } /* '' */
.font-icon-share:before { content: '\e857'; } /* '' */
.font-icon-shareable:before { content: '\e858'; } /* '' */
.font-icon-basket:before { content: '\e859'; } /* '' */
.font-icon-bag:before { content: '\e85a'; } /* '' */
.font-icon-calendar:before { content: '\e85b'; } /* '' */
.font-icon-login:before { content: '\e85c'; } /* '' */
.font-icon-logout:before { content: '\e85d'; } /* '' */
.font-icon-mic:before { content: '\e85e'; } /* '' */
.font-icon-mute:before { content: '\e85f'; } /* '' */
.font-icon-sound:before { content: '\e860'; } /* '' */
.font-icon-volume:before { content: '\e861'; } /* '' */
.font-icon-clock:before { content: '\e862'; } /* '' */
.font-icon-hourglass:before { content: '\e863'; } /* '' */
.font-icon-lamp:before { content: '\e864'; } /* '' */
.font-icon-light-down:before { content: '\e865'; } /* '' */
.font-icon-light-up:before { content: '\e866'; } /* '' */
.font-icon-adjust:before { content: '\e867'; } /* '' */
.font-icon-block:before { content: '\e868'; } /* '' */
.font-icon-resize-full:before { content: '\e869'; } /* '' */
.font-icon-resize-small:before { content: '\e86a'; } /* '' */
.font-icon-popup:before { content: '\e86b'; } /* '' */
.font-icon-publish:before { content: '\e86c'; } /* '' */
.font-icon-window:before { content: '\e86d'; } /* '' */
.font-icon-arrow-combo:before { content: '\e86e'; } /* '' */
.font-icon-down-circled:before { content: '\e86f'; } /* '' */
.font-icon-left-circled:before { content: '\e870'; } /* '' */
.font-icon-right-circled:before { content: '\e871'; } /* '' */
.font-icon-up-circled:before { content: '\e872'; } /* '' */
.font-icon-down-open:before { content: '\e873'; } /* '' */
.font-icon-left-open:before { content: '\e874'; } /* '' */
.font-icon-right-open:before { content: '\e875'; } /* '' */
.font-icon-up-open:before { content: '\e876'; } /* '' */
.font-icon-down-open-mini:before { content: '\e877'; } /* '' */
.font-icon-left-open-mini:before { content: '\e878'; } /* '' */
.font-icon-right-open-mini:before { content: '\e879'; } /* '' */
.font-icon-up-open-mini:before { content: '\e87a'; } /* '' */
.font-icon-down-open-big:before { content: '\e87b'; } /* '' */
.font-icon-left-open-big:before { content: '\e87c'; } /* '' */
.font-icon-right-open-big:before { content: '\e87d'; } /* '' */
.font-icon-up-open-big:before { content: '\e87e'; } /* '' */
.font-icon-down:before { content: '\e87f'; } /* '' */
.font-icon-left:before { content: '\e880'; } /* '' */
.font-icon-right:before { content: '\e881'; } /* '' */
.font-icon-up:before { content: '\e882'; } /* '' */
.font-icon-down-dir:before { content: '\e883'; } /* '' */
.font-icon-left-dir:before { content: '\e884'; } /* '' */
.font-icon-right-dir:before { content: '\e885'; } /* '' */
.font-icon-up-dir:before { content: '\e886'; } /* '' */
.font-icon-down-bold:before { content: '\e887'; } /* '' */
.font-icon-left-bold:before { content: '\e888'; } /* '' */
.font-icon-right-bold:before { content: '\e889'; } /* '' */
.font-icon-up-bold:before { content: '\e88a'; } /* '' */
.font-icon-down-thin:before { content: '\e88b'; } /* '' */
.font-icon-left-thin:before { content: '\e88c'; } /* '' */
.font-icon-right-thin:before { content: '\e88d'; } /* '' */
.font-icon-note-beamed:before { content: '\e801'; } /* '' */
.font-icon-ccw:before { content: '\e88f'; } /* '' */
.font-icon-cw:before { content: '\e890'; } /* '' */
.font-icon-arrows-ccw:before { content: '\e891'; } /* '' */
.font-icon-level-down:before { content: '\e892'; } /* '' */
.font-icon-level-up:before { content: '\e893'; } /* '' */
.font-icon-shuffle:before { content: '\e894'; } /* '' */
.font-icon-loop:before { content: '\e895'; } /* '' */
.font-icon-switch:before { content: '\e896'; } /* '' */
.font-icon-play:before { content: '\e897'; } /* '' */
.font-icon-stop:before { content: '\e898'; } /* '' */
.font-icon-pause:before { content: '\e899'; } /* '' */
.font-icon-record:before { content: '\e89a'; } /* '' */
.font-icon-to-end:before { content: '\e89b'; } /* '' */
.font-icon-to-start:before { content: '\e89c'; } /* '' */
.font-icon-fast-forward:before { content: '\e89d'; } /* '' */
.font-icon-fast-backward:before { content: '\e89e'; } /* '' */
.font-icon-progress-0:before { content: '\e89f'; } /* '' */
.font-icon-progress-1:before { content: '\e8a0'; } /* '' */
.font-icon-progress-2:before { content: '\e8a1'; } /* '' */
.font-icon-progress-3:before { content: '\e8a2'; } /* '' */
.font-icon-target:before { content: '\e8a3'; } /* '' */
.font-icon-palette:before { content: '\e8a4'; } /* '' */
.font-icon-list:before { content: '\e8a5'; } /* '' */
.font-icon-list-add:before { content: '\e8a6'; } /* '' */
.font-icon-signal:before { content: '\e8a7'; } /* '' */
.font-icon-trophy:before { content: '\e8a8'; } /* '' */
.font-icon-battery:before { content: '\e8a9'; } /* '' */
.font-icon-back-in-time:before { content: '\e8aa'; } /* '' */
.font-icon-monitor:before { content: '\e8ab'; } /* '' */
.font-icon-mobile:before { content: '\e8ac'; } /* '' */
.font-icon-network:before { content: '\e8ad'; } /* '' */
.font-icon-cd:before { content: '\e8ae'; } /* '' */
.font-icon-inbox:before { content: '\e8af'; } /* '' */
.font-icon-install:before { content: '\e8b0'; } /* '' */
.font-icon-globe:before { content: '\e8b1'; } /* '' */
.font-icon-cloud:before { content: '\e8b2'; } /* '' */
.font-icon-cloud-thunder:before { content: '\e8b3'; } /* '' */
.font-icon-flash:before { content: '\e8b4'; } /* '' */
.font-icon-moon:before { content: '\e8b5'; } /* '' */
.font-icon-flight:before { content: '\e8b6'; } /* '' */
.font-icon-paper-plane:before { content: '\e8b7'; } /* '' */
.font-icon-leaf:before { content: '\e8b8'; } /* '' */
.font-icon-lifebuoy:before { content: '\e8b9'; } /* '' */
.font-icon-mouse:before { content: '\e8ba'; } /* '' */
.font-icon-briefcase:before { content: '\e8bb'; } /* '' */
.font-icon-suitcase:before { content: '\e8bc'; } /* '' */
.font-icon-dot:before { content: '\e8bd'; } /* '' */
.font-icon-dot-2:before { content: '\e8be'; } /* '' */
.font-icon-dot-3:before { content: '\e8bf'; } /* '' */
.font-icon-brush:before { content: '\e8c0'; } /* '' */
.font-icon-magnet:before { content: '\e8c1'; } /* '' */
.font-icon-infinity:before { content: '\e8c2'; } /* '' */
.font-icon-erase:before { content: '\e8c3'; } /* '' */
.font-icon-chart-pie:before { content: '\e8c4'; } /* '' */
.font-icon-chart-line:before { content: '\e8c5'; } /* '' */
.font-icon-chart-bar:before { content: '\e8c6'; } /* '' */
.font-icon-chart-area:before { content: '\e8c7'; } /* '' */
.font-icon-tape:before { content: '\e8c8'; } /* '' */
.font-icon-graduation-cap:before { content: '\e8c9'; } /* '' */
.font-icon-language:before { content: '\e8ca'; } /* '' */
.font-icon-ticket:before { content: '\e8cb'; } /* '' */
.font-icon-water:before { content: '\e8cc'; } /* '' */
.font-icon-droplet:before { content: '\e8cd'; } /* '' */
.font-icon-air:before { content: '\e8ce'; } /* '' */
.font-icon-credit-card:before { content: '\e8cf'; } /* '' */
.font-icon-floppy:before { content: '\e8d0'; } /* '' */
.font-icon-clipboard:before { content: '\e8d1'; } /* '' */
.font-icon-megaphone:before { content: '\e8d2'; } /* '' */
.font-icon-database:before { content: '\e8d3'; } /* '' */
.font-icon-drive:before { content: '\e8d4'; } /* '' */
.font-icon-bucket:before { content: '\e8d5'; } /* '' */
.font-icon-thermometer:before { content: '\e8d6'; } /* '' */
.font-icon-key:before { content: '\e8d7'; } /* '' */
.font-icon-flow-cascade:before { content: '\e8d8'; } /* '' */
.font-icon-flow-branch:before { content: '\e8d9'; } /* '' */
.font-icon-flow-tree:before { content: '\e8da'; } /* '' */
.font-icon-flow-line:before { content: '\e8db'; } /* '' */
.font-icon-flow-parallel:before { content: '\e8dc'; } /* '' */
.font-icon-rocket:before { content: '\e8dd'; } /* '' */
.font-icon-gauge:before { content: '\e8de'; } /* '' */
.font-icon-traffic-cone:before { content: '\e8df'; } /* '' */
.font-icon-cc:before { content: '\e8e0'; } /* '' */
.font-icon-cc-by:before { content: '\e8e1'; } /* '' */
.font-icon-cc-nc:before { content: '\e8e2'; } /* '' */
.font-icon-cc-nc-eu:before { content: '\e8e3'; } /* '' */
.font-icon-cc-nc-jp:before { content: '\e8e4'; } /* '' */
.font-icon-cc-sa:before { content: '\e8e5'; } /* '' */
.font-icon-cc-nd:before { content: '\e8e6'; } /* '' */
.font-icon-cc-pd:before { content: '\e8e7'; } /* '' */
.font-icon-cc-zero:before { content: '\e8e8'; } /* '' */
.font-icon-cc-share:before { content: '\e8e9'; } /* '' */
.font-icon-cc-remix:before { content: '\e8ea'; } /* '' */
.font-icon-github:before { content: '\e8eb'; } /* '' */
.font-icon-github-circled:before { content: '\e8ec'; } /* '' */
.font-icon-flickr:before { content: '\e8ed'; } /* '' */
.font-icon-flickr-circled:before { content: '\e8ee'; } /* '' */
.font-icon-vimeo:before { content: '\e8ef'; } /* '' */
.font-icon-vimeo-circled:before { content: '\e8f0'; } /* '' */
.font-icon-twitter:before { content: '\e8f1'; } /* '' */
.font-icon-twitter-circled:before { content: '\e8f2'; } /* '' */
.font-icon-facebook:before { content: '\e8f3'; } /* '' */
.font-icon-facebook-circled:before { content: '\e8f4'; } /* '' */
.font-icon-facebook-squared:before { content: '\e8f5'; } /* '' */
.font-icon-gplus:before { content: '\e8f6'; } /* '' */
.font-icon-gplus-circled:before { content: '\e8f7'; } /* '' */
.font-icon-pinterest:before { content: '\e8f8'; } /* '' */
.font-icon-pinterest-circled:before { content: '\e8f9'; } /* '' */
.font-icon-tumblr:before { content: '\e8fa'; } /* '' */
.font-icon-tumblr-circled:before { content: '\e8fb'; } /* '' */
.font-icon-linkedin:before { content: '\e8fc'; } /* '' */
.font-icon-linkedin-circled:before { content: '\e8fd'; } /* '' */
.font-icon-dribbble:before { content: '\e8fe'; } /* '' */
.font-icon-dribbble-circled:before { content: '\e8ff'; } /* '' */
.font-icon-stumbleupon:before { content: '\e900'; } /* '' */
.font-icon-stumbleupon-circled:before { content: '\e901'; } /* '' */
.font-icon-lastfm:before { content: '\e902'; } /* '' */
.font-icon-lastfm-circled:before { content: '\e903'; } /* '' */
.font-icon-rdio:before { content: '\e904'; } /* '' */
.font-icon-rdio-circled:before { content: '\e905'; } /* '' */
.font-icon-spotify:before { content: '\e906'; } /* '' */
.font-icon-spotify-circled:before { content: '\e907'; } /* '' */
.font-icon-qq:before { content: '\e908'; } /* '' */
.font-icon-instagram:before { content: '\e909'; } /* '' */
.font-icon-dropbox:before { content: '\e90a'; } /* '' */
.font-icon-evernote:before { content: '\e90b'; } /* '' */
.font-icon-flattr:before { content: '\e90c'; } /* '' */
.font-icon-skype:before { content: '\e90d'; } /* '' */
.font-icon-skype-circled:before { content: '\e90e'; } /* '' */
.font-icon-renren:before { content: '\e90f'; } /* '' */
.font-icon-sina-weibo:before { content: '\e910'; } /* '' */
.font-icon-paypal:before { content: '\e911'; } /* '' */
.font-icon-picasa:before { content: '\e912'; } /* '' */
.font-icon-soundcloud:before { content: '\e913'; } /* '' */
.font-icon-mixi:before { content: '\e914'; } /* '' */
.font-icon-behance:before { content: '\e915'; } /* '' */
.font-icon-google-circles:before { content: '\e916'; } /* '' */
.font-icon-vkontakte:before { content: '\e917'; } /* '' */
.font-icon-smashing:before { content: '\e918'; } /* '' */
.font-icon-sweden:before { content: '\e919'; } /* '' */
.font-icon-db-shape:before { content: '\e91a'; } /* '' */
.font-icon-up-thin:before { content: '\e88e'; } /* '' */